@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");


.uim-tertiary {
  fill: #66c2f7;
}
.uim-tertiary2 {
  fill: #a0d9fa;
}
.uim-tertiary3 {
  fill: #7c3900;
}

.uim-primary {
  fill: #0b8dd8;
}
.uim-primary2 {
  fill: #f8fcff;
}
.uim-primary3 {
  fill: #431407;
}


.uim-quaternary {
  fill: #a0d9fa;
}
.uim-quaternary2 {
  fill: #af5000;
}


