@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: "courier";
  src: url("/fonts/font.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

.not-found>div:first-child{
  background: linear-gradient(145deg, #5162ff, #ee076e);
  background-clip: text;
  -webkit-background-clip: text;
}